@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Orbitron:wght@800&display=swap&family=Outfit:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-image: url(images/background3.jpg);
    background-position: center;
    background-size: cover;
 
}

.blur{
    backdrop-filter: blur(1.5rem);
    background: rgba(81, 92, 206, 0.356);
    height: 100vh;
    
}
.blur h1{
    padding-top: 20.0rem;
    text-align: center;
    margin-left: 2.0rem;
    color: azure;
    font-family:Inconsolata,sans-serif ;
    font-size: 3.0rem;
}