@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inconsolata&family=Orbitron:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;   
}
html{
    font-size: 62.5%;
}

.logo{
    margin: 0rem 0rem 0rem 0rem;
    height: 6.5rem;  
    width:auto; 
}


.navbar{
    height:14vh;
    margin: auto;
    display: flex;
    align-items: center;
    backdrop-filter: blur(1.5rem);
    background-color: rgba(0, 0, 0, 0.715);
}
.logo-text{

    font-family: 'Orbitron', sans-serif;
    font-size: 3.7rem;
    font-weight: 500;
    color: aliceblue;    
}



nav{
    flex: 1;
    padding-left: 6.0rem;
    margin-left: 10.0rem;
    margin-top: 1.4rem;
} 
nav ul li{
    display: inline-block;
    text-decoration: none;
    padding: 1.0rem;
    list-style: none;
    margin: .0rem 2.0rem;
}
nav ul li a{
    border: .3rem solid transparent;
    border-radius: .8rem;
    padding: .8rem;
    font-family: 'Bebas Neue', cursive; 
    font-size: 2.0rem;
    text-decoration: none;
    color: rgb(240, 248, 255)

}

nav ul li :hover{
    transition: all 3ms;
    color: aqua; 


    border: .3rem solid;
    box-sizing: border-box;
    border-color: rgb(0, 254, 254);
}